[package]
name = "bp-core"
version = "0.0.1"
description = "Core primitives for Bifrost runtime"
authors = { workspace = true }
homepage = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
fp-account = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }

[features]
default = ["std"]
std = ["fp-account/std", "sp-core/std", "sp-runtime/std"]
