[package]
name = "bp-staking"
version = "0.0.1"
description = "Primitives for pallet bfc staking"
authors = { workspace = true }
homepage = { workspace = true}
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
scale-info = { workspace = true }
parity-scale-codec = { workspace = true }

fp-self-contained = { workspace = true }
sp-std = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-staking = { workspace = true }

[features]
default = [ "std" ]
std = [
	"scale-info/std",
	"parity-scale-codec/std",
	"fp-self-contained/std",
	"sp-std/std",
	"sp-core/std",
	"sp-runtime/std",
	"sp-staking/std",
]
