[package]
name = "precompile-utils"
version = "1.0.0"
description = "Utils to write EVM precompiles."
authors = { workspace = true }
homepage = { workspace = true}
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
log = { workspace = true }
hex = { workspace = true }
sha3 = { workspace = true }
affix = { workspace = true }
paste = { workspace = true }
num_enum = { workspace = true }
impl-trait-for-tuples = { workspace = true }
serde = { workspace = true, optional = true }
derive_more = { workspace = true, optional = true }
hex-literal = { workspace = true, optional = true }
scale-info = { workspace = true, optional = true }
similar-asserts = { workspace = true, optional = true }

# Substrate
parity-scale-codec = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-io = { workspace = true }
sp-std = { workspace = true }
sp-core = { workspace = true }

# Frontier
evm = { workspace = true }
fp-evm = { workspace = true }
pallet-evm = { workspace = true, features = ["forbid-evm-reentrancy"] }

# Local
precompile-utils-macro = { workspace = true }

[dev-dependencies]
hex-literal = { workspace = true }

[features]
default = ["std"]
std = [
	"parity-scale-codec/std",
	"fp-evm/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-evm/std",
	"sp-core/std",
	"sp-io/std",
	"sp-std/std",
]
